<PageHeader data-test-heading>
  <UserHeader @user={{this.model.user}}>
    {{#if this.session.isAdmin}}
      <div local-class='admin'>
        <LinkTo local-class='admin-link' @route='admin.user' @model={{this.model.user.login}}>Admin</LinkTo></div>
    {{/if}}
  </UserHeader>
</PageHeader>

<div local-class="results-meta">
  <ResultsCount
    @start={{this.pagination.currentPageStart}}
    @end={{this.pagination.currentPageEnd}}
    @total={{this.totalItems}}
  />

  <div>
    <span local-class="sort-by-label">Sort by</span>
    <SortDropdown @current={{this.currentSortBy}} as |sd|>
      <sd.Option @query={{hash sort="alpha"}}>Alphabetical</sd.Option>
      <sd.Option @query={{hash sort="downloads"}}>All-Time Downloads</sd.Option>
      <sd.Option @query={{hash sort="recent-downloads"}}>Recent Downloads</sd.Option>
      <sd.Option @query={{hash sort="recent-updates"}}>Recent Updates</sd.Option>
      <sd.Option @query={{hash sort="new"}}>Newly Added</sd.Option>
    </SortDropdown>
  </div>
</div>

<CrateList @crates={{this.model.crates}} local-class="list" />

<Pagination @pagination={{this.pagination}} />